<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Edit task</h1>
    <form action="/edit" th:method="patch"  th:object="${task}">
        Task: <input type="text" size="50" th:field="*{taskName}"/><br/>
        Previous deadline: <input type="date" th:value="*{deadline}"/><br/>
        New deadline: <input type="date" th:field="*{deadline}"/><br/>
        Status: <select th:field="*{status}">
            <option value="CREATED">Created</option>
            <option value="STARTED">Started</option>
            <option value="STOPPED">Stopped</option>
            <option value="CANCELLED">Cancelled</option>
            <option value="FINISHED">Finished</option>
        </select><br/>
        <input type="hidden" th:field="*{creationDate}"/>
        <input type="hidden" th:field="*{id}"/>
        <button type="submit">save</button>
    </form>
</body>
</html>