<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>Edit task</h1>
<form action="/edit" th:method="patch"  th:object="${task}">
    <input type="text" size="50" th:field="*{taskName}">Task</input><br/>
    <input type="date" th:field="*{deadline}">Deadline</input><br/>
    <input type="text" th:field="*{status}">Status</input><br/>
    <input type="hidden" th:field="*{creationDate}"/>
    <input type="hidden" th:field="*{id}"/>
    <button type="submit">save</button>
<!--    <button type="reset">reset</button>-->
</form>
</body>
</html>